body {
    background: #eee;
    font-family: sans-serif;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

person {
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
person:nth-child(even) {
    background: rgb(255, 255, 232);
}
person:nth-child(odd) {
    background: rgb(242, 242, 255);
}
person h2 {
    opacity: .5;
}
person .bio img {
    float: right;
    width: 50%;
}